@media (max-width:575px)
{ 
    .col-xs-1{width:8.3333%;}
    .col-xs-2{width:16.6666%}
    .col-xs-3{width:25%;}
    .col-xs-4{width:33.3333%;}
    .col-xs-5{width:41.6666%;}
    .col-xs-6{width:50%;}
    .col-xs-7{width:58.3333%;}
    .col-xs-8{width:66.6666%;}
    .col-xs-9{width:75%;}
    .col-xs-10{width:83.3333%;}
    .col-xs-11{width:91.6666%;}
    .col-xs-12{width:100%;}  
    
  
}
@media (min-width:576px) and (max-width:767px)
{
.col-sm-1{width:8.3333%;}
.col-sm-2{width:16.6666%}
.col-sm-3{width:25%;}
.col-sm-4{width:33.3333%;}
.col-sm-5{width:41.6666%;}
.col-sm-6{width:50%;}
.col-sm-7{width:58.3333%;}
.col-sm-8{width:66.6666%;}
.col-sm-9{width:75%;}
.col-sm-10{width:83.3333%;}
.col-sm-11{width:91.6666%;}
.col-sm-12{width:100%;}

}
@media (min-width:768px) and (max-width:991px)
{
.col-md-1{width:8.3333%;}
.col-md-2{width:16.6666%}
.col-md-3{width:25%;}
.col-md-4{width:33.3333%;}
.col-md-5{width:41.6666%;}
.col-md-6{width:50%;}
.col-md-7{width:58.3333%;}
.col-md-8{width:66.6666%;}
.col-md-9{width:75%;}
.col-md-10{width:83.3333%;}
.col-md-11{width:91.6666%;}
.col-md-12{width:100%;}
}
@media (min-width:992px) and (max-width:1199px)
{
.col-lg-1{width:8.3333%;}
.col-lg-2{width:16.6666%}
.col-lg-3{width:25%;}
.col-lg-4{width:33.3333%;}
.col-lg-5{width:41.6666%;}
.col-lg-6{width:50%;}
.col-lg-7{width:58.3333%;}
.col-lg-8{width:66.6666%;}
.col-lg-9{width:75%;}
.col-lg-10{width:83.3333%;}
.col-lg-11{width:91.6666%;}
.col-lg-12{width:100%;}	
}
@media (min-width:1200px) 
{
.col-xl-1{width:8.3333%;}
.col-xl-2{width:16.6666%}
.col-xl-3{width:25%;}
.col-xl-4{width:33.3333%;}
.col-xl-5{width:41.6666%;}
.col-xl-6{width:50%;}
.col-xl-7{width:58.3333%;}
.col-xl-8{width:66.6666%;}
.col-xl-9{width:75%;}
.col-xl-10{width:83.3333%;}
.col-xl-11{width:91.6666%;}
.col-xl-12{width:100%;}
}
@media (max-width:991px) 
{
    .topbar ul li
    {
        display: none;
    }
    .topbar h2
    {
        display: none;
    }
    .perment
    {
        display: block;
    }  
    header .topbar .justify-content-between
    {
        justify-content: center;
    }
    header .main .main-center-content ,header .main .main-right-content
    {
        display: none;
    }
    
    header .main .main-left-content 
    {
        width: 100%;
    }
    header .main .main-left-content .icon , header .main .main-left-content .icon2
    {
        display:block !important;
        margin: auto;
        font-size: 20px;
    }
}
@media (max-width:767px) 
{
    
    header .main .main-left-content i  
    {
        padding: 0 10px;
    }
    header .bottombar .bottombar-center-content
    {
        display: none;
    }
    header .bottombar 
    {
        padding: 10px 80px;
    }
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next
    {
        display: none;
    }
    .owl-theme .owl-dots
    {
        background-color: var(--primary);
        width: 10px;
        height: 10px;
        margin: 10px;
    }
    .padding80
    {
        padding-left: 50px !important; 
        padding-right: 50px !important;
    }
    .grid{
        display: grid;
        padding: 20px;
        grid-template-rows: auto ;
        grid-template-columns: auto auto auto auto; 
        gap: 20px;
    }
    .grid .box-1{
        grid-row: 1/2; 
        grid-column: 1/2; 
    }
    .grid .box-2{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .grid .box-3{
        grid-row: 3/4;
        grid-column: 1/2; 
    }
    .grid .box-4{
        grid-row: 4/5;
        grid-column: 1/2; 
    }
}